@font-face {
	font-family: "Police navbar";
	src: url('ufonts.com_futurastd-condensedbold-opentype.otf');
}

h1{
	text-align:center; 
	padding: 1.5em 0 1em 0;
	font-size: 4em;
	color: #fff;
	font-family: 'Nunito';
}

h2{
	margin: 50px 0 50px;
	text-align: center;
}



/*------------- NAVBAR---------------*/

.navbar-nav>li>.dropdown-menu {
	padding: 0 0 0 0;
	background-color:#f1881b;

}




.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f1881b;
}

.dropdown-menu>li>a:focus {
	background-color:#f1881b;
}


.dropdown-menu {
	text-align:center;
	background-color:#f1881b;
}



.img-navbar {
	position:absolute;
	top:39px;
	left:-15px;
}

.navbar-default {
	background-color:#000000;
	border-color:none;
	font-family:'Police navbar';
	font-size:18px;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	padding-left:45px;
	padding-right:45px;
}


#main {


	background: url('img/image_header.png') no-repeat center;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover;
}

/* ------------------ PRESENTATION ----------------- */
#presentation{

	background-color:grey;

	background-color: #ecf0f1;
}
#presentation h2, p{
	font-family: 'Nunito';
}
#presentation .row{
	margin-bottom: 50px;
}
#presentation .col-md-6, .col-sm-12 , .col-xs-12{
	vertical-align: middle;  
}
#presentation p{
	text-align: justify; 
	vertical-align: middle; 
	margin: 2% 5% 0 5%;
}
.video_presentation{
	text-align: center;
}

/* ------------------ PLANNING ----------------- */
#planning{
	background-color: white;
}
#planning .row{
	margin-bottom: 50px;
}
#planning .col-md-6, .col-sm-12 , .col-xs-12{
	vertical-align: middle;  
}
#planning p{
	text-align: justify; 
	vertical-align: middle; 
	margin: 10% 5% 0 5%;
}
.img_planning{
	text-align: center;
}
.img_planning img{
	height: 100%; 
	width : 100%;
}

/* ------------------ PLAN ----------------- */
#plan{
	background-color: #ecf0f1;
}
#plan .row{
	margin-bottom: 50px;
}
#plan .col-md-6, .col-sm-12 , .col-xs-12{
	vertical-align: middle;  
}
#plan p{
	text-align: justify; 
	vertical-align: middle; 
	margin: 10% 5% 0 5%;
}
.img_plan{
	text-align: center;
	margin : 50px 0 0 0;
}
.img_plan iframe{
	width : 100%;
}

/* ------------------ CLIENT ----------------- */
#client{
	background-color: white;
}

#client.row{
	margin-bottom: 50px;
}
.img_client{
	margin: 0 auto 100px;
	height: 100px;
	width: 100px;
}
.img_client img{
	text-align: center;
	height: 100%; 
	width : 100%;
}

/* ------------------ FOOTER ----------------- */
#footer{
	background-image: url("img/footer.jpg");
	background-repeat: no-repeat;
}
#footer p {
	padding: 20px 0 0 0;
	text-align: justify;
}

.socialbtns, .socialbtns ul, .socialbtns li {
	margin: 0;
	padding: 10px;
}

.socialbtns li {
	list-style: none outside none;
	display: inline-block;
	padding: inherit;
}


/* ------------------ compte a rebour ----------------- */

.compte_a_rebour{
	text-align: center;
}