@font-face {
	font-family: "Police navbar";
	src: url('ufonts.com_futurastd-condensedbold-opentype.otf');

}


@font-face {
	font-family : "Futura";
	src:url('font/FuturaStd-Medium.ttf');
}


h1{
	text-align:center; 
	padding: 1.5em 0 1em 0;
	font-size:3em;
	color: #fff;
	font-family: 'Police navbar';
	text-transform: uppercase;
}

h2{
	margin: 50px 0 50px;
	text-align: center;
	font-family:'Police navbar';
	text-transform: uppercase;
}

h3{
	font-family:'Police navbar';
}


/*------------- NAVBAR---------------*/

.navbar-nav>li>.dropdown-menu {
	padding: 0 0 0 0;
	background-color:#e73248;

}


.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {

	background-color :#f1881b;
}


.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #f1881b;
}

.dropdown-menu>li>a {
	color:#ffffff;
}

.dropdown-menu>li>a:focus {
	background-color:#f1881b;
}


.dropdown-menu {
	text-align:center;
	background-color:#f1881b;
}



.img-navbar {
	position:absolute;
	top:95%;
	left:-10px;
}

.navbar-default {
	background-color:#000000;
	border-color:none;
	font-family:'Police navbar';
	font-size:18px;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	padding-left:45px;
	padding-right:45px;
}


#main {
	background: url('img/image_header2.png') no-repeat center;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover;
	height: 900px;
	width: 100%;
}



#main h1{
	 margin: 30% 0 5% 0; 
}
.bouton_ecole{ 
  text-align: center; 
}
.bouton_ecole:hover{
	cursor : hand;
	 -webkit-filter: brightness(75%);
}

#imgduplanning{ 
  padding: 0px !important; 
} 

/* ------------------ PRESENTATION ----------------- */
#presentation{

	background-color:grey;

	background-color: #ecf0f1;
}

#presentation .row{
	margin-bottom: 50px;
}
#presentation .col-md-6, .col-sm-12 , .col-xs-12{
	vertical-align: middle;  
}
#presentation p{
	font-family: 'Futura';
	    padding: 0 0 10px 0;
	    font-size: 1.25em;
}
.video_presentation{
	text-align: center;
}

/* ------------------ PLANNING ----------------- */
#planning{
	background-color: white;
}
#planning h2{
	margin: 10% 0 0 0; 
}

#planning .col-md-6, .col-sm-12 , .col-xs-12{
	vertical-align: middle;  
}
#planning p{ 
	padding: 0 0 5px 0;
	font-family: 'Futura';
	font-size: 1.25em;
}
.img_planning{
	text-align: center;
}
.img_planning img{
	width : 100%;
}

.texte_planning{
	margin: 10% 0 0 10%; 
}


.fond_planning img {
	width: 100%;
}

/* ------------------ PLAN ----------------- */
#plan{
	background-color: #ecf0f1;
}
#plan .row{
	margin-bottom: 50px;
}
#plan .col-md-6, .col-sm-12 , .col-xs-12{
	vertical-align: middle;  
}
#plan p{
	margin: 5% 5% 0 5%;
	font-family: 'Futura';
	padding: 0 0 10px 0;
	font-size: 1.25em;

}
#plan h2{ 
  margin: 10% 0 ; 
} 

.img_plan{
	text-align: center;
	margin : 50px 0 0 0;
}
.img_plan iframe{
	width : 100%;
}

.img_liaison{
	width: 100%;
}

/* ------------------ CLIENT ----------------- */
#client{
	background-color: white;
}

#client.row{
	margin-bottom: 50px;
}
.img_client{
	margin: 0 auto 100px;
	height: 100px;
	width: 100px;
}
.img_client img{
	text-align: center;
	height: 100%; 
	width : 100%;
}

/* ------------------ FOOTER ----------------- */
#footer{
	background-image: url("img/footer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#footer p {
	padding: 2% 0 0 0;
	text-align: center;
	color: #fff;
	margin: 0px !important;
	font-family: 'Futura';
}
#center_img{
	text-align: center;
}
#li1 {
	float: right;
}
#li2 {
	float: left !important;
}

.associations li{
	list-style: none outside none;
	display: inline-block;
}



.footer-partenaire{
	text-align: center;
	color: white;
	margin: 15px 0 40px 0;
}

.footer-rejoindre{
	text-align: center;
	color: white;
	margin: 15px 0 40px 0;
}

/* ------------------ compte a rebour ----------------- */

#countdown{

	width: 465px;
	height: 172px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 24px 0;
	position: absolute;
	top: 150px; bottom: 0; left: 0; right: 0;
}

#countdown:before{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
}

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font: bold 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 100%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}

.tech-slideshow {
  height: 104px;
  margin-bottom: 50px; 
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 3000px;
  background: url("img/Diapo.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 60s linear infinite;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-55.5555%);  
  }
}

/* page projet */

.projets{
	margin: 2% 0;
}

#header_projetIIM{
	background: url("img/maxresdefault.jpg")no-repeat center;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover;
	text-align: center;
}

.img_projetIIM h1{ 
	padding-top: 0.5em;
	letter-spacing: 2px;
}

.img_projetIIM img{ 
	padding-top: 5em;
}

#header_projetESILV{
	background: url("img/maxresdefault.jpg")no-repeat center;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover;
	text-align: center;
}

.img_projetESILV h1{ 
	padding-top: 0.5em;
	letter-spacing: 2px;
}

.img_projetESILV img{ 
	padding-top: 5em;
}


